[Unit]
Description=sidekiq
Requires=redis.service
After=redis.service syslog.target network.target

[Service]
Type=simple
User=$user
Group=$group
UMask=0002
EnvironmentFile=/etc/environment
WorkingDirectory=$mawidabp_path/current

ExecStart=/home/$user/.rbenv/shims/bundle exec \
  \"sidekiq -e production \
  -C config/sidekiq.yml 2>&1 >> log/sidekiq.log\"

RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
