[Unit]
Description=unicorn
Requires=
Wants=postgresql-13.service
After=postgresql-13.service

[Service]
Type=forking
PermissionsStartOnly=true
User=deployer
Group=nginx
WorkingDirectory=/var/www/mawidabp.com/current
Environment=RAILS_ENV=production
Environment=BUNDLE_GEMFILE=/var/www/mawidabp.com/current/Gemfile
SyslogIdentifier=unicorn
KillSignal=SIGQUIT
PIDFile=/tmp/unicorn.pid
ExecStartPre=/bin/mkdir -p /run/unicorn
ExecStartPre=/bin/chown -R deployer:nginx /run/unicorn

ExecStart=/home/deployer/.rbenv/shims/bundle exec "\
          /var/www/mawidabp.com/current/bin/unicorn -D -c \
          /var/www/mawidabp.com/current/config/unicorn.rb -E \
          production"

ExecStop=/bin/kill -s QUIT $MAINPID
ExecReload=/bin/kill -s USR2 $MAINPID

RestartSec=1
Restart=on-failure

[Install]
WantedBy=multi-user.target
